
    <div>
        <label>FirstName</label><input [(ngModel)]="person.FirstName"><br />
        <label>LirstName</label><input [(ngModel)]="person.LastName"><br />
        <label>Address</label><input [(ngModel)]="person.Address"><br />
        <label>City</label><input [(ngModel)]="person.City"><br />
        <label>County</label><input [(ngModel)]="person.County"><br />
        <label>Email</label><input [(ngModel)]="person.Email"><br />
        <label>State</label><input [(ngModel)]="person.State"><br />
        <label>Zip</label><input [(ngModel)]="person.Zip"><br />
    </div>
    <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit btn btn-default" (click)="registerUser()" value="Register" style="display: inline-block;"> 

